body{
  background-color:#ffffff
}


.foto3{
  width: 100%;
  border-radius: 50px;
}

.fundo1{
  background-size: 74%;
  height: 677px;
  background-repeat: no-repeat;
  margin-left: 320px;
  margin-right: -39px;
}

.topo {
  padding: 1px 20px;
  text-align: center;
  background-color: #ffffff;
  
}

.img{
  width: 14%;
    height: 30%;
    border-color: black;
}

.oui {
  text-align: center;
  background-color: #892929;
  border-color: black;
}

.magem{
  width: 40%;
}

.carta{
  display: flex;
}

.cartão{
  border-radius: 20px;
  margin-left: 10px;
  height: 200px;
  background-color:  #a2a2a2;
  flex: 1;
  text-align: center;
transition: .3s all ease;
}

.IMAGEM{
  width: 52%;
}

.cartão:hover{
  flex: 2;
  background-color: #892929;
}
.fim{
  padding: 1px 20px;
  height: 600px;
}
.sim{
  padding: 1px 20px;
  text-align: center;
}

@media screen and (min-width: 1024px){
  .foto3{
      width: 60%;
  }
}


@media screen and (min-width: 1700px){
  
}
